name: Main

on:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build_matrix:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        folder: [".", "examples/stm32l433"]
    
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          targets: thumbv7em-none-eabi

      - uses: Swatinem/rust-cache@v2.7.1
      
      - run: cargo fmt --all -- --check
        working-directory: ${{ matrix.folder }}

      - run: cargo clippy --release -- -D warnings
        working-directory: ${{ matrix.folder }}

      - run: cargo build --release
        working-directory: ${{ matrix.folder }}

  release:
    runs-on: ubuntu-latest
    needs: build_matrix

    permissions:
      issues: write
      contents: write
      packages: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: rust
          package-name: ism330dhcx
